body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border-color: #2707f7;
    color: #ffffff;
    background-color: #2707f7;
    transition: background-color .35s linear;
}

button:hover {
    color: #2707f7;
    background-color: #ffffff;
}

/*-------------------RGB CONTAINER-------------------*/
#container {
    display: flex;
    flex-direction: column;
    margin: 75px;
    justify-content: center;
    align-items: center;
}

#color-box {
    width: 250px;
    height: 250px;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------CONTROLS-------------------*/
#slider-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
    justify-items: center;
}

#slider-container > input {
    transform: rotate(-90deg);
}
